body {
    font-family: "Montserrat:ital,wght@0,100..900;1,100..900&display=swap", sans-serif;
    background: linear-gradient(45deg , #000442, #1138fb); /* Gradient background */
    background-size: cover; /* Ensures the image covers the entire window */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    color: #ffffff;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0;
    padding: 0; /* Remove padding to avoid extra space */
    height: 100vh; /* Ensures the body takes the full height of the viewport */
}

.logo {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 15%; /* Adjust as needed */
}

.container {    
    width: 50%;
    /* max-width: 400px;  */
    background: rgb(14, 0, 69);
    padding: 60px;
    margin: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #666;
    display: flex; /* Enable Flexbox on the container */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    box-sizing: border-box;
}

.container p {
    margin: 20 10 20 10px;
    font-size: 1em;
    text-align: center;
}

.container form {
    width: 80%;
}

.container2, .container3 {
    width: 60%; 
    /* max-width: 400px; */
    margin: 20px auto; /* Centering with margin */
    background: rgb(14, 0, 69);
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #666;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.container2 {
    background-image: url('images/astrocat.png');
    background-size: 20% auto; /* Ensures the width covers the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: right bottom; /* Aligns the image to the top right corner */
    overflow: hidden; /* Hides the excess image that goes beyond the container */
}

.container3 {
    background-image: url('images/confetti-1.gif');
    overflow: hidden; /* Hides the excess image that goes beyond the container */
}

.container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%
}

label {
    display: block;
    margin: 10px 0 5px;
}

.winner {
    color: #e1ff8d;
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the select dropdown */
select {
    appearance: none; /* Remove default styling (for most browsers) */
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

option {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f00;
}

button {    
    font-size: 1em;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 20px;
    background: linear-gradient(to top, #282ca7, #4b6cb7);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background: linear-gradient(to top, #4b6cb7, #282ca7);
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
}

.secret {
    color: #fb5e8d;
}

.title {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}

.command {
    color: rgb(0, 204, 255);
    margin: 0px;
    padding: 0px;
}

/* Style for mobile devices */
@media (max-width: 600px) {
    .container {
        width: 80%;  
        padding: 20px;
        margin: 5px;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally */
    }

    .container2 {
        background-image: url('images/astrocat.png');
        background-size: 30% auto; /* Ensures the width covers the container */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: right bottom; /* Aligns the image to the top right corner */
        overflow: hidden; /* Hides the excess image that goes beyond the container */
    }

    body {
        font-size: 1.5em; /* Increase base font size */
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally */
    }
    .container2 p {
        font-size: .8em; /* Increase paragraph font size */
    }

    .container p {
        font-size: .8em; /* Increase paragraph font size */
    }

    h1 {
        font-size: 2em; /* Increase heading font size */
    }

    input, select, button {
        font-size: .8em; /* Increase input, select, and button font size */
    }

    .title {
        font-size: 2em; /* Increase title font size */
    }

    .secret {
        color: #fb5e8d;
        margin: 0px;
    }

    button {    
        font-size: .8em;
    }
}